body{
    font-family:Georgia, Arial, Helvetica, Sans-serif,serif;
    font-size:15px;
    color:#000;
    background:#fff;
    margin: 0;
}

h1 {
    font-size:50px;
}

h3 {
    font-size:22px;
}

div#topMenu {
    height:110px;
    float: right;
}

div#logo-container{
    float: left;
}

img#logo {
    width:300px;
    padding: 10px;
}

a {
  float: right;
  color: #00aaff;
  margin: auto;
  display: block;
  width: 100px;
}

img #sidebar {
    float:left;
    width:300px;
    margin:0 0 0 15px;
    font-size:15px;
    list-style:none;
}

.full-width {
    width: 100%;
};

#footer{
    height: 60px;
    background: #fff;
    padding: 15px;
    clear:both;
}